/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




#container{
    position: absolute;
    margin:auto;
    overflow: hidden;
    width: 100vw;
    height :100vh;
    display: flex;
    flex-direction: row;
  align-items: center;
  justify-content: center;
}

#contenedorBotones{
    width: 5vw;
    height: 60vh;
    position: relative;
    flex-direction: row;
    align-items: right;
    justify-content: center;
 
}

#background{
    border-radius: 12px;
    position: relative;
    width:30vw;
    height:60vh;
    background-color: #8f1a87;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: fondo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-right: 1%;

}

@keyframes fondo {
    0% {background-color: #8f1a87;}
    25% {background-color: #6D1467;}
    50% {background-color: #1e0525;}
    75% {background-color: #6D1467;}
    100% {background-color: #8f1a87;}
    }
    

    .botones {
        border-radius: 12px;
        width: 120px;
        height: 50px;
        background-color: #f3e2f8;
        font-size: 20px;
        margin-bottom: 25%;
        font-family: "Concert One", sans-serif;
        font-weight: 500;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        color: #4b0d47; 
        cursor: pointer;
    }
    
    .botones:hover {
        background-color: #a295f5; /
        transform: translateY(-3px); 
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
    }
    
    .botones:active {
        transform: translateY(1px); 
    }

@media only screen and (max-width: 600px) {
    #contenedorBotones{
        bottom:10%;
    }
#background{
    width:60vw;
    height: 90vh;
}
#hairback,#shoes,#clothes,#alas,#patas,#orejas,#manos,#hairfront,#bocas{
    bottom:15%;
max-width: 70vw;
max-height:100vh;
}
.botones{
    font-size: 15px;
    width: 80px;
    height:30px;
    align-items: start;
}

}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    #contenedorBotones{
        top:5%;
    }
#background{
    width:60vw;
    height: 90vh;
}
#hairback,#shoes,#clothes,#alas,#patas,#orejas,#manos,#hairfront,#bocas{
    bottom:25%;
max-width: 70vw;
max-height:100vh;
}
.botones{
    font-size: 15px;
    width: 120px;
    height:70px;
    align-items: start;
}

}



#hairback{
     position:absolute;
    width:535px;
    height:661px;
    
    
  
    
    
}


#man{
    position:absolute;
    width:535px;
    height:661px;
    
    
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruobeta/refs/heads/main/vacio.png");
    
    
    
 
}

#shoes{
     position:absolute;
    width:535px;
    height:661px;
    
      background-size: contain;

    
    
}

.shoe1{
            background-repeat: no-repeat;

     position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/cabeza0.PNG");
    
    
    
    
}

.shoe2{
            background-repeat: no-repeat;

    position:absolute;  
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/cabeza1.PNG");
    
}

.shoe3{
            background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/cabeza2.PNG");
}
.shoe4{
            background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/cabeza3.PNG");
}


#clothes{
    
     position:absolute;
    width:535px;
    height:661px;
      background-size: contain;

    
    
    
}

.dress1{
    background-repeat: no-repeat;
    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/cuerpo0.PNG");
}

.dress2{
    background-repeat: no-repeat;
    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/cuerpo1.PNG");
}

.dress3{
    background-repeat: no-repeat;
    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/cuerpo2.PNG");
}
.dress4{
    background-repeat: no-repeat;
    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/cuerpo3.PNG");
}
.dress5{
    background-repeat: no-repeat;
    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/cuerpo4.PNG");
}


#hairfront{
    
     position:absolute;
    width:535px;
    height:661px;
          background-size: contain;

    
    
    
    
}

.hairfront1{
        background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/ojos0.PNG");
}

.hairfront2{
        background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/ojos1.PNG");
}

.hairfront3{
        background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/ojos2.PNG");
}
.hairfront4{
        background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/ojos3.PNG");
}

.hairfront5{
        background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/ojos4.PNG");
}

.hairfront6{
        background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/ojos5.PNG");
}

#orejas{
    
     position:absolute;
    width:535px;
    height:661px;
      background-size: contain;

}

.orejas1{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/orejas0.PNG");
}

.orejas2{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/orejas1.PNG");
}

.orejas3{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/orejas2.PNG");
}

.orejas4{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/orejas3.PNG");
}

.orejas5{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/orejas4.PNG");
}

.orejas6{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/orejas5.PNG");
}
.orejas7{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/orejas6.PNG");
}

.orejas8{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/orejas7.PNG");
}

#bocas{
    
     position:absolute;
    width:535px;
    height:661px;
      background-size: contain;

}

.bocas1{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/bocas0.PNG");
}

.bocas2{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/bocas1.PNG");
}

.bocas3{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/bocas2.PNG");
}

.bocas4{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/bocas3.PNG");
}

.bocas5{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/bocas4.PNG");
}

.bocas6{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/bocas5.PNG");
}
.bocas7{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/bocas6.PNG");
}

.bocas8{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/bocas7.PNG");
}
.bocas9{
    background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/bocas8.PNG");
}

#manos{
     position:absolute;
    width:535px;
    height:661px;
    
      background-size: contain;

    
    
}

.manos1{
            background-repeat: no-repeat;

     position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/manos0.PNG");
    
    
    
    
}

.manos2{
            background-repeat: no-repeat;

    position:absolute;  
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/manos1.PNG");
    
}

.manos3{
            background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/manos2.PNG");
}
.manos4{
            background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/manos3.PNG");
}

#patas{
     position:absolute;
    width:535px;
    height:661px;
    
      background-size: contain;

    
    
}

.patas1{
            background-repeat: no-repeat;

     position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/patas0.PNG");
    
    
    
    
}

.patas2{
            background-repeat: no-repeat;

    position:absolute;  
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/patas1.PNG");
    
}

.patas3{
            background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/patas2.PNG");
}

#alas{
     position:absolute;
    width:535px;
    height:661px;
    
      background-size: contain;

    
    
}

.alas1{
            background-repeat: no-repeat;

     position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/alas0.PNG");
    
    
    
    
}

.alas2{
            background-repeat: no-repeat;

    position:absolute;  
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/alas1.PNG");
    
}

.alas3{
            background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/alas2.PNG");
}
.alas4{
            background-repeat: no-repeat;

    position:absolute;
    width:535px;
    height:661px;
    background-image: url("https://raw.githubusercontent.com/cCalic04/Monstruo/refs/heads/main/alas3.PNG");
}

/*
#nextorejas{
    position:absolute;
    right:50px;
    top:50px;
}

#nextshoe{
    position:absolute;
    right:50px;
    top:100px;
}

#nexthair{
    position:absolute;
    right:50px;
    top:150px;
}

#nextbocas{
    position:absolute;
    right:50px;
    top:200px;
}


#nextalas{
    position:absolute;
    right:50px;
    top:300px;
}

#nextmanos{
    position:absolute;
    right:50px;
    top:350px;
}

#nextdress{
    position:absolute;
    right:50px;
    top:400px;
}

#nextpatas{
    position:absolute;
    right:50px;
    top:450px;
}
*/


#prevhair{
    position:absolute;
    left:50px;
    top:150px;
}

#prevdress{
    position:absolute;
    left:50px;
    top:400px;
}

#prevshoe{
    position:absolute;
    left:50px;
    top:750px;
}